<div id="footer">
  <ul class="navigation round">
    <li><%= link_to "About", '#' %></li>
    <li><%= link_to "Echo Server", "https://fbwnac06:8443" %></li>
    <li><%= link_to "Rooms", rooms_path %></li>
    <li><%= link_to "Presenters", presenters_path %></li>
    <li><%= link_to "Terms", terms_path %></li>
  </ul>
</div>
